In [1]:
import pandas as pd
#import matplotlib.pyplot as plt
df=pd.read_excel("Ch3_Q7_Data_File.xlsx")

df

,Rank,State,Life_Expectancy,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,1,Hawaii,81.5,NaN,NaN,The following table shows a portion of U.S. li...,NaN,NaN
1,2,Minnesota,80.9,NaN,NaN,NaN,NaN,NaN
2,3,California,80.4,NaN,NaN,Rank,State,Life Expectancy
3,4,New York,80.4,NaN,NaN,1,Hawaii,81.5
4,5,Connecticut,80.2,NaN,NaN,2,Alaska,80.9
5,6,Massachusetts,80.1,NaN,NaN,⋮,⋮,⋮
6,7,North Dakota,80.1,NaN,NaN,50,Mississippi,74.8
7,8,Utah,80.1,NaN,NaN,NaN,NaN,NaN
8,9,Colorado,79.9,NaN,Find the mean and median life expectancy. (Rou...,NaN,NaN,NaN
9,10,Arizona,79.9,NaN,NaN,NaN,NaN,NaN
10,11,South Dakota,79.9,NaN,NaN,NaN,NaN,NaN
11,12,New Hampshire,79.7,NaN,NaN,Mean,?,NaN
12,13,Vermont,79.7,NaN,NaN,Medain,?,NaN
13,14,Florida,79.7,NaN,NaN,NaN,NaN,NaN
14,15,Iowa,79.7,NaN,NaN,NaN,NaN,NaN
15,16,New Jersey,79.7,NaN,NaN,NaN,NaN,NaN
16,17,Washington,79.7,NaN,NaN,NaN,NaN,NaN
17,18,Wisconsin,79.3,NaN,NaN,NaN,NaN,NaN
18,19,Rhode Island,79.3,NaN,NaN,NaN,NaN,NaN
19,20,Idaho,79.2,NaN,NaN,NaN,NaN,NaN
20,21,Nebraska,79.2,NaN,NaN,NaN,NaN,NaN
21,22,Oregon,79.0,NaN,NaN,NaN,NaN,NaN
22,23,Illinois,78.8,NaN,NaN,NaN,NaN,NaN
23,24,Maine,78.7,NaN,NaN,NaN,NaN,NaN
24,25,Virginia,78.5,NaN,NaN,NaN,NaN,NaN
25,26,Kansas,78.4,NaN,NaN,NaN,NaN,NaN
26,27,Montana,78.4,NaN,NaN,NaN,NaN,NaN
27,28,Delaware,78.3,NaN,NaN,NaN,NaN,NaN
28,29,Alaska,78.3,NaN,NaN,NaN,NaN,NaN
29,30,Texas,78.3,NaN,NaN,NaN,NaN,NaN
30,31,New Mexico,78.2,NaN,NaN,NaN,NaN,NaN
31,32,Pennsylvania,78.2,NaN,NaN,NaN,NaN,NaN
32,33,Maryland,78.1,NaN,NaN,NaN,NaN,NaN
33,34,Michigan,77.9,NaN,NaN,NaN,NaN,NaN
34,35,Indiana,77.7,NaN,NaN,NaN,NaN,NaN
35,36,Wyoming,77.6,NaN,NaN,NaN,NaN,NaN
36,37,Nevada,77.6,NaN,NaN,NaN,NaN,NaN
37,38,Ohio,77.5,NaN,NaN,NaN,NaN,NaN
38,39,Missouri,77.4,NaN,NaN,NaN,NaN,NaN
39,40,North Carolina,77.2,NaN,NaN,NaN,NaN,NaN
40,41,Georgia,77.1,NaN,NaN,NaN,NaN,NaN
41,42,South Carolina,76.6,NaN,NaN,NaN,NaN,NaN
42,43,Tennessee,76.2,NaN,NaN,NaN,NaN,NaN
43,44,Kentucky,76.2,NaN,NaN,NaN,NaN,NaN
44,45,Arkansas,76.1,NaN,NaN,NaN,NaN,NaN
45,47,Oklahoma,75.6,NaN,NaN,NaN,NaN,NaN
46,48,Louisiana,75.4,NaN,NaN,NaN,NaN,NaN
47,49,Alabama,75.2,NaN,NaN,NaN,NaN,NaN
48,50,West Virginia,75.2,NaN,NaN,NaN,NaN,NaN
49,51,Mississippi,74.8,NaN,NaN,NaN,NaN,NaN

In [2]:
df=df.iloc[:,:3]
df

    Rank           State  Life_Expectancy
0      1          Hawaii             81.5
1      2       Minnesota             80.9
2      3      California             80.4
3      4        New York             80.4
4      5     Connecticut             80.2
5      6   Massachusetts             80.1
6      7    North Dakota             80.1
7      8            Utah             80.1
8      9        Colorado             79.9
9     10         Arizona             79.9
10    11    South Dakota             79.9
11    12   New Hampshire             79.7
12    13         Vermont             79.7
13    14         Florida             79.7
14    15            Iowa             79.7
15    16      New Jersey             79.7
16    17      Washington             79.7
17    18       Wisconsin             79.3
18    19    Rhode Island             79.3
19    20           Idaho             79.2
20    21        Nebraska             79.2
21    22          Oregon             79.0
22    23        Illinois             78.8
23    24           Maine             78.7
24    25        Virginia             78.5
25    26          Kansas             78.4
26    27         Montana             78.4
27    28        Delaware             78.3
28    29          Alaska             78.3
29    30           Texas             78.3
30    31      New Mexico             78.2
31    32    Pennsylvania             78.2
32    33        Maryland             78.1
33    34        Michigan             77.9
34    35         Indiana             77.7
35    36         Wyoming             77.6
36    37          Nevada             77.6
37    38            Ohio             77.5
38    39        Missouri             77.4
39    40  North Carolina             77.2
40    41         Georgia             77.1
41    42  South Carolina             76.6
42    43       Tennessee             76.2
43    44        Kentucky             76.2
44    45        Arkansas             76.1
45    47        Oklahoma             75.6
46    48       Louisiana             75.4
47    49         Alabama             75.2
48    50   West Virginia             75.2
49    51     Mississippi             74.8

In [4]:
#Find the mean and median life expectancy. (Round your answers to 2 decimal places.)

print("Mean Life Expectancy:", round(df['Life_Expectancy'].mean(), 2))
print("Median Life Expectancy:", round(df['Life_Expectancy'].median(), 2))

Mean Life Expectancy: 78.42
Median Life Expectancy: 78.45